<div class="container">
  <div class="text-center my-3">
    <h1 id="property-title">Edit Property</h1>
  </div>
  <%= simple_form_for(@property, url: "/properties/#{@property.id}", html: {width: '100%', id: "property-form"}) do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :postal_code, label: 'Postal Code', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your postal code" %>
        <%= f.input :floor, label: 'Floor', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your floor number" %>
        <%= f.input :unit, label: 'Unit', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your unit number" %>
        <%= f.input :flat_type, label: 'Flat Type', :input_html => {:style=> 'width: 100%'}, :required => false, collection: ['1 Room', '2 Room', '3 Room', '4 Room', '5 Room', 'Executive'], prompt: "Select your Flat Type" %>
        <%= f.input :area, label: 'Area (sqm)', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your Area in sqm" %>
      </div>
      <div class="col">
        <%= f.input :property_growth_rate, label: 'Property Growth Rate (%)', :input_html => {:style=> 'width: 100%', :value => '2.5'}, :required => false %>
        <%= f.input :start_ownership_year, label: 'Starting Ownership Year', :input_html => {:style=> 'width: 100%'}, collection: @start_year..@end_year, :required => false, prompt: "Select Year" %>
        <%= f.input :original_loan_amount, label: 'Origianl Loan Amount (SGD)', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter Original Loan Amount" %>
        <%= f.input :loan_interest_annual, label: 'Annual Loan Interest Rate (%)', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter Annual Loan Interest Rate" %>
        <%= f.input :loan_tenure_years, label: 'Loan Tenure Years', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter Loan Tenure Years" %>
      </div>
    </div>
    <div class="text-center my-3">
      <%= f.submit :"Confirm", class: 'btn btn-primary' %>
      <%= link_to "Cancel", properties_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>