<div class="container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1 id="property-title">My Properties</h1>
    <!-- Button trigger modal -->
    <div class="align-items-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addpropertymodal">
        Add Property
      </button>
    </div>
  </div>

  <% if @my_property.empty? %>
  <div class="text-center mt-5 pt-5">
    <%= image_tag "empty.png", alt: "empty", width: "200px" %>
  </div>
  <% else %>
  <!-- put a card design and iterate -->
  <div class="property-cards mt-5">
    <% @my_property.each do |property| %>
      <div class="card">
        <% if property.flat_type === '1 Room' %>
          <%= image_tag "hdb_1_rm.jpg", alt: "HDB 1 Room" %>
        <% elsif property.flat_type === "2 Room" %>
          <%= image_tag "hdb_2_rm.jpg", alt: "HDB 2 Room" %>
        <% elsif property.flat_type === "3 Room" %>
          <%= image_tag "hdb_3_rm.jpg", alt: "HDB 3 Room" %>
        <% elsif property.flat_type === "4 Room" %>
          <%= image_tag "hdb_4_rm.jpg", alt: "HDB 4 Room" %>
        <% elsif property.flat_type === "5 Room" %>
          <%= image_tag "hdb_5_rm.jpg", alt: "HDB 5 Room" %>
        <% else %>
          <%= image_tag "hdb_executive.jpg", alt: "HDB Executive" %>
        <% end %>
        <div class="card-body text-center">
          <h5 class="card-title">HDB <%= property.flat_type %></h5>
          <div>
            <%= link_to edit_property_path(property.id) do %>
              <i class="fas fa-pencil-alt"></i> Edit
            <% end %> | 
            <%= link_to "properties/#{property.id}", method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i> Remove
            <% end %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
              <div><%= property.address %></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Flat Type</div>
              <div><%= property.flat_type %></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Area</div>
              <div><%= property.area %> sqm</div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Floor & Unit</div>
              <div>#<%= property.floor %> - <%= property.unit %></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Property Growth Rate</div>
              <div><%= property.property_growth_rate %> %</div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Property Value</div>
              <div>$<%= number_with_delimiter(property.property_value, :delimiter => ',') %></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Lease Remaining</div>
              <div><%= property.lease_remaining %> years</div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Starting Ownership Year</div>
              <div><%= property.start_ownership_year %></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Original Loan Amount</div>
              <div>$<%= number_with_delimiter(property.original_loan_amount, :delimiter => ',') %></div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Annual Loan Interest</div>
              <div><%= property.loan_interest_annual %> %</div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>Loan Tenure Years</div>
              <div><%= property.loan_tenure_years %> years</div>
            </li>
          </ul>
          <%# <%= link_to "Edit", edit_property_path(property.id), class: "btn btn-primary" %>
          <%# <%= link_to "Remove", "properties/#{property.id}", class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addpropertymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Property</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for(@property, url: properties_path, html: {width: '100%', id: "property-form"}) do |f| %>
            <div class="row">
              <div class="col">
                <%= f.input :postal_code, label: 'Postal Code', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your postal code" %>
                <%= f.input :floor, label: 'Floor', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your floor number" %>
                <%= f.input :unit, label: 'Unit', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your unit number" %>
                <%= f.input :flat_type, label: 'Flat Type', :input_html => {:style=> 'width: 100%'}, :required => false, collection: ['1 Room', '2 Room', '3 Room', '4 Room', '5 Room', 'Executive'], prompt: "Select your Flat Type" %>
                <%= f.input :area, label: 'Area (sqm)', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter your Area in sqm" %>
              </div>
              <div class="col">
                <%= f.input :property_growth_rate, label: 'Property Growth Rate (%)', :input_html => {:style=> 'width: 100%', :value => '2.5'}, :required => false %>
                <%= f.input :start_ownership_year, label: 'Starting Ownership Year', :input_html => {:style=> 'width: 100%'}, collection: @start_year..@end_year, :required => false, prompt: "Select Year" %>
                <%= f.input :original_loan_amount, label: 'Origianl Loan Amount (SGD)', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter Original Loan Amount" %>
                <%= f.input :loan_interest_annual, label: 'Annual Loan Interest Rate (%)', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter Annual Loan Interest Rate" %>
                <%= f.input :loan_tenure_years, label: 'Loan Tenure Years', :input_html => {:style=> 'width: 100%'}, :required => false, placeholder: "Enter Loan Tenure Years" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> %>
        <button type="submit" class="btn btn-primary" form="property-form">Confirm</button>
      </div>
    </div>
  </div>
</div>



</div>

<br>

<div class="landing-btn mt-5">
  <%= link_to "Back", projection_path, class: 'btn btn-gradient' %>
</div>