<!-- <div class="landing-title mt-5">
  <h1><strong>Morgan the Banker Cat</strong></h1>
</div> -->

<div class="row mt-5">
  <div class="col-4">
    <%= image_tag 'couple.png', class: '', width: "600px" %>
  </div>
  <div class="col-8">
    <div class="landing-title">
      <h3>Take the first step to build your <strong>FREE</strong> financial plan</h3>
    </div>
    <%= simple_form_for(@user, method: :get, url: projection_path, wrapper: :horizontal_form) do |f| %>
      <%= f.error_notification %>
      <div class="container mt-5 ml-5">
        <%= f.input :dob, 
                    label: 'Birth Year',
                    prompt: "Select your birth year",
                    input_html: { class: "landing-form" },
                    collection: @start_year..@end_year,
                    selected: @user.dob.nil? ? nil : @user.dob.year 
        %>
        <%= f.input :monthly_income, 
                    label: 'Monthly Income', 
                    placeholder: "How much do you earn per month?",
                    input_html: { class: "landing-form" }
        %>
        <%= f.input :monthly_expenses, 
                    label: 'Monthly Expenses', 
                    placeholder: "How much do you spend per month?",
                    input_html: { class: "landing-form" }
        %>
      </div>
      <div class="mt-5 landing-btn">
        <%= f.submit 'View Projection', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
