<h3 id="sub-header">Net Worth Projection</h3>
<% if user_signed_in? %>
  <%
    data = [
    {
      name: "Cash",
      data: @projected_amt
    },
    {
      name: "Stocks",
      data: @stocks_projection
    },
    {
      name: "Bonds",
      data: @bonds_projection
    },
    {
      name: "CPF-Ordinary",
      data: @cpfo_projection
    },
    {
      name: "CPF-Special",
      data: @cpfs_projection
    },
    {
      name: "CPF-Medisave",
      data: @cpfm_projection
    }
    ]

    @property_data.each_with_index do |property,index|
      new_property = {
                      name: "Property #{index + 1}",
                      data: property
                      }
      data << new_property
    end
  %>

  <%=
      column_chart data,
      colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600", "#778899", "#003f5c"],
      stacked:true, ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
      library: {
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
            tooltip: {
              pointFormat: 'Total Spent: <b>{point.y}</b>',
              xDateFormat: '%B',
              valuePrefix: '$'
            }
          }
  %>

<% else %>
  <%= column_chart @projected_amt,
      colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600"],
      stacked:true, ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
      library: {
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
            tooltip: {
              pointFormat: 'Total Spent: <b>{point.y}</b>',
              xDateFormat: '%B',
              valuePrefix: '$'
            }
          }
  %>
<% end %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                About Me
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <div>Year of Birth</div>
                  <div><%= @user.dob.year %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Monthly Income</div>
                  <div>$<%= number_with_delimiter(@user.monthly_income, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Monthly Expense</div>
                  <div>$<%= number_with_delimiter(@user.monthly_expenses, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Inflation</div>
                  <div><%= @inflation %> %</div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Retirement Age</div>
                  <div><%= @retirement_age %> years old</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                My Assets
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <div>Cash</div>
                  <div>$<%= number_with_delimiter(@cash.amount, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Stocks</div>
                  <div>$<%= number_with_delimiter(@stocks.amount, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Bonds</div>
                  <div>$<%= number_with_delimiter(@bonds.amount, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>CPF-O</div>
                  <div>$<%= number_with_delimiter(@cpfo.amount, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>CPF-S</div>
                  <div>$<%= number_with_delimiter(@cpfs.amount, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>CPF-M</div>
                  <div>$<%= number_with_delimiter(@cpfm.amount, :delimiter => ',') %></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                My Expenses
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                My Properties
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
            </div>
          </div>
        </div>
    </div>
  </div>


    <div class="col-md">
      <h4 id="sub-header">Refine Projection</h4>

      <div class="">

        <% if user_signed_in? %>
          <div class="add-buttons">
            <p><%= link_to "Add Assets", assets_path, class: 'btn btn-gradient' %></p>
            <p><%= link_to "Add Expenses", user_expenses_path(@user.id), class: 'btn btn-gradient' %></p>
            <p><%= link_to "Add Properties", properties_path, class: 'btn btn-gradient' %></p>
          </div>
            <p><%= link_to "Home Equity Computation", property_path, class: 'btn btn-gradient' %></p>
            <p><%= link_to "Scenario Planning", scenario_planning_path, class: 'btn btn-gradient btn-block' %></p>
        <% else %>
          <div class="landing-btn">
            <%= link_to "Sign up to customise", new_user_registration_path(dob: @user.dob, monthly_income: @user.monthly_income, monthly_expenses: @user.monthly_expenses), class: 'btn btn-gradient' %>
           </div>
        <% end %>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
  <div class="landing-btn mt-5">
    <%= link_to "Back to Main", root_path, class: 'btn btn-primary' %>
  </div>
<% end %>




