<h3 id="sub-header">Net Worth Projection</h3>
<% if user_signed_in? %>
  <%
    data = [
    {
      name: "Cash",
      data: @cash_projection_view
    },
    {
      name: "Stocks",
      data: @stocks_projection_view
    },
    {
      name: "Bonds",
      data: @bonds_projection_view
    },
    {
      name: "CPF-Ordinary",
      data: @cpfo_projection
    },
    {
      name: "CPF-Special",
      data: @cpfs_projection
    },
    {
      name: "CPF-Medisave",
      data: @cpfm_projection
    }
    ]

    @property_data.each_with_index do |property,index|
      new_property = {
                      name: "Property #{index + 1}",
                      data: property
                      }
      data << new_property
    end
  %>

  <%=
      column_chart data,
      colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600", "#778899", "#003f5c"],
      stacked:true, ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
      library: {
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
            tooltip: {
              pointFormat: 'Total Spent: <b>{point.y}</b>',
              xDateFormat: '%B',
              valuePrefix: '$'
            }
          }
  %>

<% else %>
  <%= column_chart @projected_amt,
      colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600"],
      stacked:true, ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
      library: {
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
            tooltip: {
              pointFormat: 'Total Spent: <b>{point.y}</b>',
              xDateFormat: '%B',
              valuePrefix: '$'
            }
          }
  %>
<% end %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                About Me
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <div>Year of Birth</div>
                  <div><%= @user.dob.year %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Monthly Income</div>
                  <div>$<%= number_with_delimiter(@user.monthly_income, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Monthly Expense</div>
                  <div>$<%= number_with_delimiter(@user.monthly_expenses, :delimiter => ',') %></div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Inflation</div>
                  <div><%= @inflation %> %</div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <div>Retirement Age</div>
                  <div><%= @retirement_age %> years old</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                My Assets
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <% @input_assets.each do |input_asset| %>
                  <li class="list-group-item d-flex justify-content-between">
                    <div><%= input_asset.asset_type %></div>
                    <div>$<%= number_with_delimiter(input_asset.amount, :delimiter => ',') %></div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                My Expenses
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <% if @input_expenses.empty? %>
                <div class="text-center">
                  <i class="far fa-folder-open"></i> Empty
                </div>
              <% else %>
              <ul class="list-group list-group-flush">
               <% @input_expenses.each do |input_expense| %>
                  <li class="list-group-item d-flex justify-content-between">
                    <div><%= input_expense.expense_type %></div>
                    <div>$<%= number_with_delimiter(input_expense.amount, :delimiter => ',') %></div>
                  </li>
                <% end %>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                My Properties
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <% if @input_properties.empty? %>
                <div class="text-center">
                  <i class="far fa-folder-open"></i> Empty
                </div>
              <% else %>
              <ul class="list-group list-group-flush">
               <% @input_properties.each do |input_property| %>
                  <li class="list-group-item d-flex justify-content-between">
                    <div>HDB <%= input_property.flat_type %></div>
                    <div>$<%= number_with_delimiter(input_property.property_value, :delimiter => ',') %></div>
                  </li>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>


    <div class="col-md">
      <h4 id="sub-header">Portfolio Optimization</h4>
        <ul>
          <li>Your portfolio is <strong> <%= @readout %></strong>  </li>
          <% if @readout == "conservative" %>
            <li>A low-risk target allocation could mean <strong><%= number_to_currency(@stock60_scenario[0] - @baseline_scenario[0], unit: '$', separator: ",", precision: 0) %></strong> more by retirement </li>
            <li>A medium-risk target allocation could mean <strong><%= number_to_currency(@stock80_scenario[0] - @baseline_scenario[0], unit: '$', separator: ",", precision: 0) %></strong> more by retirement </li>
            <% if @cash.asset_allocation > 50 %>
              <li>You have a high cash position of <%= @cash.asset_allocation%>%, which can be unfavorable to your long term results</li>
            <% end %>
          <% elsif @readout == "balanced" %>
            <li>A low-risk target allocation would yield <strong><%= number_to_currency(@baseline_scenario[0] - @stock60_scenario[0] , unit: '$', separator: ",", precision: 0) %></strong> less by retirement </li>
            <li>A medium-risk target allocation could mean <strong><%= number_to_currency(@stock80_scenario[0] - @baseline_scenario[0], unit: '$', separator: ",", precision: 0) %></strong> more by retirement </li>
            <% if @cash.asset_allocation > 25 %>
              <li>Your cash position of <%= @cash.asset_allocation%>% tends to be on the high side and could be a drag on performance</li>
            <% end %>
          <% else %>
             <li>A medium-risk target allocation would yield <strong><%= number_to_currency(@baseline_scenario[0] - @stock80_scenario[0] , unit: '$', separator: ",", precision: 0) %></strong> less by retirement </li>
             <li>You have a high stock position of <%= @stocks.asset_allocation%>%, which can be subject to bouts of short-term volatility</li>
             <li>Since WWII, we have averaged a market drop of at least 20% roughly every 8 years. These drops typically take 24 months on average to recover</li>
          <% end %>
        </ul>

      <h4 id="sub-header">Home Equity Management</h4>
        <ul>
          <li>The equity on your home lease is projected to grow <strong><%= number_with_precision(@property_cagr, precision: 1) %>%</strong> annually until retirement. </li>
          <% if @property_readout == "poor" %>
            <li>This is slower than the CPF Ordinary rate of 2.5%. Consider using idle cash to pay off your mortgage instead of CPF funds</li>
          <% elsif @property_readout == "average" %>
            <li>This is faster than the CPF Ordinary rate of 2.5%. Consider using your CPF funds to service your mortgage</li>
            <li>While the return is lower than the long-term average benchmark for global equity, it serves as a good diversifier of wealth</li>
          <% else %>
            <li>Your home equity is growing faster than the long-term average benchmark for global equity.</li>
          <% end %>
          <% if @loan_interest_annual > 1.2 %>
            <li>Your loan interest is higher than the benchmark mortgage rate. You could refinance to save <strong><%= number_to_currency(@monthly_savings , unit: '$', separator: ",", precision: 0) %></strong> in interest monthly and <strong><%= number_to_currency(@total_savings, unit: '$', separator: ",", precision: 0) %></strong> over the remaining loan term </li>
          <% end %>

          <li>You will own 50% of your home lease by <%= @half_owned_year %> (<%= @half_owned_year.to_i - @start_ownership_year %> years after start of loan) and 100% by <%= @start_ownership_year + @loan_tenure_years - 1  %> </li>
          <li>The price of the home lease is projected to peak in <strong><%= @max_value.last[0] %></strong> across the remaining tenure of your lease</li>
        </ul>
      <div class="">

        <% if user_signed_in? %>
          <div class="add-buttons">
            <p><%= link_to "Add Assets", assets_path, class: 'btn btn-gradient' %></p>
            <p><%= link_to "Add Expenses", expenses_path, class: 'btn btn-gradient' %></p>
            <p><%= link_to "Add Properties", properties_path, class: 'btn btn-gradient' %></p>
          </div>
          <div class="">
            <p><%= link_to "Home Equity Computation", property_path, class: 'btn btn-gradient w-100' %></p>
            <p><%= link_to "Scenario Planning", scenario_planning_path, class: 'btn btn-gradient btn-block w-100' %></p>
          </div>
        <% else %>
          <div class="landing-btn">
            <%= link_to "Sign up to customise", new_user_registration_path(dob: @user.dob, monthly_income: @user.monthly_income, monthly_expenses: @user.monthly_expenses), class: 'btn btn-gradient' %>
           </div>
        <% end %>
    </div>
  </div>
</div>







