
<% expenses = Expense.where(user_id: current_user.id).select([:year_int, :inflated_amt]) %>

<%  data = [
  {
    name: "Cash",
    data: [["2020", 20000], ["2021", 40000], ["2022", 60000], ["2023", 80000], ["2024", 100000], ["2025", 120000]]
  },
  {
    name: "Stocks",
    data: [["2020", 20000], ["2021", 40000], ["2022", 60000], ["2023", 80000], ["2024", 100000], ["2025", 120000]]
  },
  {
    name: "Bonds",
    data: [["2020", 20000], ["2021", 40000], ["2022", 60000], ["2023", 80000], ["2024", 100000], ["2025", 120000]]
  }
]
%>

<%=

    # integrate expenses into projection
    expenses.to_a.each do |expense|
      data.first[:data].each do |cash|
        if expense[:year_int].to_s == cash[0]
          cash[1] -= expense[:inflated_amt]
        end
      end
    end

    column_chart data,
    title: 'Asset Projection', stacked:true,
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>


<p><%= @user.dob.strftime('%d/%m/%y') %></p>
<p><%= @user.monthly_income %></p>
<p><%= @user.monthly_expenses %></p>

<%= link_to "Back to Home", root_path, class: 'btn btn-primary' %>
