<h3 id="sub-header">Asset Projection</h3>
<% if user_signed_in? && Asset.exists?(user_id: @user.id) %>
  <%
    data = [
    {
      name: "Cash",
      data: @projected_amt
    },
    {
      name: "Stocks",
      data: @stocks_projection
    },
    {
      name: "Bonds",
      data: @bonds_projection
    },
    {
      name: "CPF-Ordinary",
      data: @cpfo_projection
    },
    {
      name: "CPF-Special",
      data: @cpfs_projection
    },
    {
      name: "CPF-Medisave",
      data: @cpfm_projection
    }
  ]
  %>

  <%=
      column_chart data,
      colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600"],
      stacked:true, ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
      library: {
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
            tooltip: {
              pointFormat: 'Total Spent: <b>{point.y}</b>',
              xDateFormat: '%B',
              valuePrefix: '$'
            }
          }
  %>

<% else %>
  <%= column_chart @projected_amt,
      colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600"],
      stacked:true, ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
      library: {
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
            tooltip: {
              pointFormat: 'Total Spent: <b>{point.y}</b>',
              xDateFormat: '%B',
              valuePrefix: '$'
            }
          }
  %>
<% end %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md">
      <h4 id="sub-header">Current Inputs</h4>
      <table>
        <tr>
          <td><strong>Year of Birth : </strong></td>
          <td><%= @user.dob.year %></td>
        </tr>
        <tr>

            <td><strong>Income :</strong> </td>

          <td>$<%= @user.monthly_income %></td>
        </tr>
        <tr>
          <td><strong>Expenses :</strong> </td>
          <td>$<%= @user.monthly_expenses %></td>
        </tr>
        <tr>
          <td><strong>Inflation :</strong> </td>
          <td><%= @inflation %>%</td>
        </tr>
        <tr>
          <td><strong>Retirement Age :</strong> </td>
          <td><%= @retirement_age %> years old</td>
        </tr>
      </table>
    </div>
    <div class="col-md">
      <h4 id="sub-header">Refine Projection</h4>
      <div class="landing-btn">

        <% if user_signed_in? %>
          <p><%= link_to "Add Assets", assets_path, class: 'btn btn-gradient' %></p>
          <p><%= link_to "Add Expenses", user_expenses_path(@user.id), class: 'btn btn-gradient' %></p>
          <p><%= link_to "Scenario Planning", scenario_planning_path, class: 'btn btn-gradient' %></p>
        <% else %>
          <%= link_to "Sign up to customise", new_user_registration_path, class: 'btn btn-gradient' %>
        <% end %>


      </div>
      <div class="landing-btn">
          <%= link_to "Back to Home", root_path, class: 'btn btn-gradient home-btn' %>
      </div>
    </div>
  </div>
</div>


