  <h2>Property </h2>

   <table id="expense-table">
    <col style="width:10%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <tr>
      <th>Year </th>
      <th>A. Property Asset Appreciation </th>
      <th>B. Projected Lease Decay </th>
      <th>C. Net Property Value (A-B) </th>
      <th>D. Loan Outstanding</th>
      <th>E. Home Equity (C-D)</th>
    </tr>

    <% counter = 0 %>
    <% @property_growth.length.times do %>

      <tr>
        <td> <%=@property_growth[counter][0]%> </td>
        <td> <%=number_to_currency(@property_growth[counter][1], unit: '$', separator: ",", precision: 0)%> </td>
        <td> <%=number_to_currency(@property_growth[counter][1] - @property_growth_decay[counter][1], unit: '$', separator: ",", precision: 0)%> </td>
        <td> <%=number_to_currency(@property_growth_decay[counter][1], unit: '$', separator: ",", precision: 0)%> </td>
        <td> <%= number_to_currency(@property_growth_decay[counter][1] - @home_equity[counter][1], unit: '$', separator: ",", precision: 0)%> </td>
        <td> <%=number_to_currency(@home_equity[counter][1], unit: '$', separator: ",", precision: 0)%> </td>

      </tr>
    <% counter += 1 %>
    <% end %>

  </table>

  <br>

  <div class="landing-btn mt-5">
    <%= link_to "Back", projection_path, class: 'btn btn-primary' %>
  </div>
