<div class="text-center">
  <h2>Portfolio Optimization</h2>
</div>

<p>We compare your current portfolio of stocks, bonds and cash against low and moderate-risk portfolios comprising benchmark indexes.
Stocks are benchmarked against the <strong> FTSE All-World index </strong>, comprising 90-95%% of investable world market capitalization. Bonds are benchmarked
against the <strong>Barclays Global Aggregate Bond index</strong>, comprising investment-grade debt from over 25 local currency markets </p>


<div class="flex-container">

  <div class="item1">
  <h5 id="sub-header">Projection Comparison</h5>
    <ul>
      <li><strong>Low-Risk Portfolio:</strong> Comprises 40% stocks, 40% bonds and 20% cash </li>
      <br>
      <li><strong>Moderate-Risk Portfolio:</strong> Comprises 60% stocks, 20% bonds and 20% cash </li>
      <br>
      <li>Chart shows current allocation compared to low and moderate-risk scenarios up till retirement age of 65 years</li>
    </ul>

  </div>

  <div class="item2">
    <%
        data = [
        {
          name: "Current Allocation",
          data: @scenario_chartline[0]
        },
        {
          name: "Moderate Risk",
          data: @scenario_chartline[1]
        },
        {
          name: "Low Risk",
          data: @scenario_chartline[2]
        }
      ]
      %>
      <%=
          line_chart data,
          colors: ["#003f5c", "#444e86", "#955196", "#dd5182", "#ff6e54", "#ffa600"],
          ytitle: "Net Worth($)", min:0, thousands: ",", loading: "Loading...",
          library: {
            yAxis: {
                labels: {
                    format: '${value}'
                }
            },
                tooltip: {
                  pointFormat: 'Total Spent: <b>{point.y}</b>',
                  xDateFormat: '%B',
                  valuePrefix: '$'
                }
              }
      %>
  </div>
</div>


<h5 id="sub-header" style="margin-top: 30px">Sensitivity Analysis</h5>

<p>For each portfolio, we run a sensitivity analysis looking at the 90th-percentile and 10th-percentile outcomes of the portfolio. Projection figures are
based on Nobel-Prize winner Robert Shiller's work looking at annualized returns on the US stock market from 1872-2018. </p>

  <table id="expense-table">
    <col style="width:40%">
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
    <tr>
      <th>Portfolio (Stocks / Bonds / Cash) </th>
      <th>Average Outcome</th>
      <th>90th Percentile</th>
      <th>10th Percentile</th>
    </tr>

    <tr>
      <td>Current Allocation: <%= @stocks.asset_allocation %> / <%= @bonds.asset_allocation %> / <%= @cash.asset_allocation %> </td>
      <% i =0 %>
      <% while i < 3 do %>
        <td><%= number_to_currency(@baseline_scenario[i], unit: '$', separator: ",", precision: 0)%></td>
      <% i += 1 %>
      <% end %>
    </tr>

    <tr>
      <td>Moderate Risk Portfolio: 60 / 20 / 20</td>
      <% i =0 %>
      <% while i < 3 do %>
        <td><%= number_to_currency(@stock80_scenario[i], unit: '$', separator: ",", precision: 0)%></td>
      <% i += 1 %>
      <% end %>
    </tr>

    <tr>
      <td>Low Risk Portfolio: 40 / 40 / 20</td>
      <% i =0 %>
      <% while i < 3 do %>
        <td><%= number_to_currency(@stock60_scenario[i], unit: '$', separator: ",", precision: 0)%></td>
      <% i += 1 %>
      <% end %>
    </tr>
  </table>
  <br>

<div class="landing-btn mt-5">
  <%= link_to "Back", projection_path, class: 'btn btn-primary' %>
</div>
